In [ ]:
 for z in range(1,11):
    for x in range(1,11):
        x=int(input("enter a number:"))
        z=int(input("enter a number:"))
        print(x * z)

enter a number:5
enter a number:1
5
enter a number:5
enter a number:2
10
enter a number:5
enter a number:3
15

In [1]:
table=int(input('which table you want'))

for y in range(1,11):
    print("{}*{}={}".format(table,y,table*y))

which table you want5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [2]:
table=int(input("which table you want"))
value=int(input("how many values you want to go"))
for y in range(1,value+1):
    print("{}*{}={}".format(table,y,table*y))

which table you want6
how many values you want to go20
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
6*11=66
6*12=72
6*13=78
6*14=84
6*15=90
6*16=96
6*17=102
6*18=108
6*19=114
6*20=120

In [3]:
table=int(input("which table you want"))
value=int(input("how many values you want to go"))
for y in range(1,value+1):
    print("{}*{}={}".format(table,y,table*y))

which table you want4
how many values you want to go10
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40